.mypage{
    	color:white;
    }
    
.dropdown {
	  position: relative;
	  display: inline;
	}

.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color:  #252525;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}
	
.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .mypage {background-color: #eee; color:black;}