<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>    
<script>
/* $.ajax({
    url: 'test.xml', // 읽어올 문서
    type: 'GET', // 방식
    dataType: 'xml', // 문서 타입
    timeout: 1000, // 시간 설정
    error: function(){ // 로딩 에러시
        alert('Error loading XML document');
    },
    success: function(xml){
        $(xml).find('item').each(function(){  // xml 문서 item 기준으로 분리후 반복
            var link = $(this).find("link").text();
            var title = $(this).find("title").text(); 
            var description = $(this).find("description").text(); 
            var tag = $(this).find("tag").text(); 

            var view_text = link + title + description + tag ; 
            $("#id").append(view_text);  // #id 에 view_text 삽입
        });
    } 
}); */

</script>

</head>
<body> 
<h2>index</h2>
<table>
	<tr>
		<td>이름</td>
		<td>성</td>
		<td>닉네임</td>
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.firstname}"></td>
		<td th:text="${list.lastname}"></td>
		<td th:text="${list.nickname}"></td>
	</tr>
</table>
</body>

</html>