<!DOCTYPE html>
<html 	xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - JOIN</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    
  
    
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>    
<script>

	$(document).ready(function(){
	
		$("#cus_id").focus();
		
		var id_ck_msg = "아이디 중복확인을 해야합니다.";
		var reg_ck_id_msg = "첫글자는 반드시 영문소문자, 6~16글자수, 특수문자허용하지 않음";
		var reg_ck_pw_msg = "비밀번호의 글자수 8~16, 특수문자허용하지 않습니다.";
		var reg_ck_pw1_msg = "비밀번호는 대문자 1개이상 포함해야합니다.";
		var pw_eq_msg = "비밀번호가 일치해야합니다";
		var reg_ch_uname_msg = "이름은 2글자 이상이어야 합니다.";
		var email_ck_msg = "이메일은 필수입력사항 입니다.";
		var phone1_ck_msg = "핸드폰번호는  필수입력사항 입니다.";
		var phone1_len_msg = "핸드폰번호 입력 규칙에 맞게 입력해주세요.";
		
		var reg_ck_id_msg2 = "아이디를 규칙에 맞게 넣어주세요.";
		var id_fail_msg = "이미 존재하는 아이디 입니다.";
		var id_success_msg = "사용가능한 아이디 입니다.";
		
		
		$("#btnJoin").click(function(){
			//1. 중복체크 검사
			var dupleCk=$("#dupleCk").val();	
			if(dupleCk!="ok"){
				alert(id_ck_msg);
				return;	
			}
			var inputId=$("#cus_id").val();
			//* 체크할 정규식
		  // 첫글자는 반드시 영문소문자, 5~16글자수, \w는 특수문자허용x 
			 var reg_ck_id = /^[a-z][\w]{5,16}/;
			 if( reg_ck_id.test(inputId)==false){
				 alert(reg_ck_id_msg);
				 $("#cus_id").focus();
				 return;
			 }
			 
			 //2. 비밀번호 체크
			 var pw  = $("#cus_pw").val();
			 var pw1 = $("#cus_pw1").val();
			 //글자수 8~16, 특수문자허용x, 대문자 1개이상 포함
			 var reg_ck_pw = /^[\w]{8,16}$/;
			 var reg_ck_pw1 = /[A-Z]/;
			 
			 if(!reg_ck_pw.test(pw)){
				 alert(reg_ck_pw_msg);
				 $("#pw").val("");  //초기화  
				 $("#pw").focus();  //포커스
				 return;
			 }		 
			 if(!reg_ck_pw1.test(pw)){
				 alert(reg_ck_pw1_msg);
				 $("#pw").val("");  //초기화  
				 $("#pw").focus();  //포커스
				 return;
			 }		 
			 
			//3. 비밀번호와 비밀버호일치 여부
			if(pw != pw1){
				alert(pw_eq_msg);
				 $("#cus_pw").val("");  //초기화  
				 $("#cus_pw1").val("");  //초기화  
				 $("#cus_pw").focus();  //포커스
				 return;
			}
			
			 //4. 이름체크
			 var uname = $("#cus_name").val();
			 //한글만 허용
		 	 var reg_ch_uname = /^[가-힣a-zA-Z]{2,}$/;
			 
			 if(!reg_ch_uname.test(uname)){
				 alert(reg_ch_uname_msg);
				 $("#uname").focus();  //포커스
				 return;			 
			 }
			 
			 //5. 이메일체크
			 var email = $("#cus_email1").val();
			 var email2 = $("#cus_email2").val();
			 if((email==null || email=="") ||(email2==null || email2=="")){
				 alert(email_ck_msg);
				 $("#cus_email1").focus();  //포커스
				 return;			 
			 }
			 
			 //6. 핸드폰번호 체크
			 var phone1 = $("#cus_phone2").val();
			 var phone2 = $("#cus_phone3").val();
	 
			 if(phone1=="" || phone2==""){
				 alert(phone1_ck_msg);
				 $("#cus_phone2").focus();  //포커스
				 return;			 
			 }
			 if(phone1.length<4 || phone2.length<4){
				 alert(phone1_len_msg);
				 $("#cus_phone2").focus();  //포커스
				 return;			 
			 }
			
			//폼객체의 action속성값 설정
			$("#cus_email2").attr("disabled",false);
			$("#jFrm").attr("action","/project/join/joinProc");
			$("#jFrm").submit();

		});
		
		//====================================================			

		$("#idck").click(function(e){
			var inputId=$("#cus_id").val();
			var reg_ck_id = /^[a-z][\w]{5,16}/;
			if( reg_ck_id.test(inputId)==false || inputId==null){
			  //alert("첫글자는 반드시 영문소문자, 5~16글자수, 특수문자허용하지 않음");
			  $("#chk_id").text(reg_ck_id_msg2);
			  return;
			}
			$("#chk_id").text("");
			
			$.ajax({
				type: "post",
				url: "/project/join/joinIdCheck",
				data: {"cus_id" : inputId},		
				dataType: "text",
				success: function(result){
					if(result == false){
						alert(id_fail_msg);
					}
					else{
						$("#dupleCk").val("ok");
						alert(id_success_msg);
					}
				}
			});
		});

		$("#cus_password").blur(function(e){	
			 //2. 비밀번호 체크
			 var pw  = $("#cus_password").val();
			 //글자수 8~16, 특수문자허용x, 대문자 1개이상 포함
			 var reg_ck_pw = /^[\w]{8,16}$/;
			 var reg_ck_pw1 = /[A-Z]/;
			 
			 if(!reg_ck_pw.test(pw)){
				 //alert("비밀번호의 글자수 8~16, 특수문자허용하지 않습니다.");
				 $("#cus_password").val("");  //초기화  
				 $("#chk_pw").text(reg_ck_pw_msg);
				 //$("#pw").focus();  //포커스
				 return;
			 }		 
			 if(!reg_ck_pw1.test(pw)){
				 //alert("비밀번호는 대문자 1개이상 포함해야합니다");
				 $("#cus_password").val("");  //초기화  
				 $("#chk_pw").text(reg_ck_pw1_msg);
				 //$("#pw").focus();  //포커스
				 return;
			 }		
			
			 $("#chk_pw").text("");  //메시지 초기화
		});
		
		$("#cus_password1").blur(function(e){	
			//3. 비밀번호와 비밀버호일치 여부
			var pw  = $("#cus_password").val();
			var pw1 = $("#cus_password1").val();
			
			if(pw != pw1){
				//alert("비밀번호가 일치해야합니다");
				 $("#cus_password1").val("");  //초기화  
				 $("#chk_pw1").text(pw_eq_msg);
				 //$("#cus_password1").focus();  //포커스
				 return;
			}
			
			 $("#chk_pw1").text("");  //메시지 초기화
		});
		
		$("#cus_name").blur(function(e){	
			//4. 이름체크
			 var uname = $("#cus_name").val();
			 //한글만 허용
		 	 var reg_ch_uname = /^[가-힣a-zA-Z]{2,}$/;
			 
			 if(!reg_ch_uname.test(uname)){
				 //alert("이름은 한글만 2글자 이상이어야 합니다.");
				 $("#cus_name").val("");  //초기화  
				 $("#chk_name").text(reg_ch_uname_msg);
				 //$("#cus_name").focus();  //포커스
				 return;			 
			 }
			
			 $("#chk_name").text("");  //메시지 초기화
		});		

		$("#cus_email1").blur(function(e){	
			 //5. 이메일체크
			 var email = $("#cus_email1").val();
	 
			 if(email==null || email==""){
				 //alert("이메일은 필수입력사항 입니다.");
				 $("#cus_email1").val("");  //초기화  
				 $("#chk_email").text(email_ck_msg);
				 //$("#cus_email1").focus();  //포커스
				 return;			 
			 }
			
			 $("#chk_email").text("");  //메시지 초기화
		});	
		
		$("#cus_phone2").blur(function(e){	
			 //6. 핸드폰번호 체크
			 var phone1 = $("#cus_phone1").val();
			 var phone2 = $("#cus_phone2").val();
	 
			 if(phone1=="" || phone2==""){
				 //alert("핸들폰번호는 필수입력사항 입니다.");
				 $("#chk_phone").text("핸드폰번호는 필수입력사항 입니다.");
				 //$("#cus_email1").focus();  //포커스
				 return;			 
			 }
			
			 $("#chk_phone").text("");  //메시지 초기화
		});	
		
		//focus시 메시지 초기화
		$("#cus_id").focus(function(e){	
			$("#chk_id").text("");  //메시지 초기화
		});
		$("#cus_password").focus(function(e){	
			$("#chk_pw").text("");  //메시지 초기화
		});
		$("#cus_password1").focus(function(e){	
			$("#chk_pw1").text("");  //메시지 초기화
		});
		$("#cus_name").focus(function(e){	
			$("#chk_name").text("");  //메시지 초기화
		});
		$("#cus_email1").focus(function(e){	
			$("#chk_email").text("");  //메시지 초기화
		});
		$("#cus_phone1").focus(function(e){	
			$("#chk_phone").text("");  //메시지 초기화
		});
		$("#cus_phone2").focus(function(e){	
			$("#chk_phone").text("");  //메시지 초기화
		});
		
		$('#selectEmail').change(function(){ 
			$("#selectEmail option:selected").each(function () {
				if($(this).val()== '직접입력'){ //직접입력일 경우 
					$("#cus_email2").val("");
					$("#cus_email2").attr("disabled",false); //활성화 
				}else{ //직접입력이 아닐경우 
						$("#cus_email2").val($(this).val()); //선택값 입력 
						console.log($(this).val())
						$("#cus_email2").attr("disabled",true); //비활성화
				} 
			}); 
		});

		
	});
	

</script>

</head>

<body>

<div th:include="include/subHeader" ></div>

	<!-- 내용 추가 -->
	<form id="jFrm" action="" method="post">
		<h3 style="text-align:center;margin-top:3%;">JOIN</h3>
		<p align="right"><span style="color:red;">V</span>&nbsp;표시는 필수 입력항목</p>
		<div style="overflow-x:auto;">
		<table id="table-re">		
			<colgroup>
				<col width="25%">
				<col width="75%">
			</colgroup>
			<tr>
				<td class = "c1"><span><span style="color:red;">V</span>&nbsp;ID</span></td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;ID</span>
					<input type="hidden" id="dupleCk"/>
					<input type = "text" name = "cus_id" id = "cus_id" placeholder = "아이디입력" class="input"/>
					<button type="button" id="idck">IDcheck</button>
					<br/>첫글자는 반드시 영문소문자, 6~16글자수, 특수문자 허용안함
					<div id="chk_id" style="color:red;"></div>
				</td>
			</tr>
			<tr>
				<td class = "c1"><span style="color:red;">V</span>&nbsp;PASSWORD</td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;PASSWORD</span>
				  <input type = "password" name = "cus_pw" id = "cus_pw" placeholder = "비밀번호입력" class="input"/>
				  <br/>글자수 8~16, 특수문자허용 안함, 대문자 1개이상 포함
				  <div id="chk_pw" style="color:red;"></div>
				</td>
			</tr>
			<tr>
				<td class = "c1"><span style="color:red;">V</span>&nbsp;PASSWORDcheck</td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;PASSWORDcheck</span>
					<input type = "password" name = "cus_pw1" id = "cus_pw1" placeholder = "비밀번호 확인" class="input"/>
					<div id="chk_pw1" style="color:red;"></div>
				</td>
			</tr>
			<tr>
				<td class = "c1"><span style="color:red;">V</span>&nbsp;NAME</td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;NAME</span>
					<input type = "text" name = "cus_name" id = "cus_name" placeholder = "이름입력" class="input"/>
					<br/>2글자 이상
					<div id="chk_name" style="color:red;"></div>
				</td>
					
			</tr>
			<tr>
				<td class = "c1">GENDER</td>
				<td>
				<span class="hidden1">GENDER</span>
				
				<label><input type="radio" name="cus_gender" id="cus_gender_M" value="M" checked="checked"/>M</label>&nbsp;&nbsp;
				<label><input type="radio" name="cus_gender" id="cus_gender_F" value="F" />F</label>
				
				</td>
			</tr>
			<tr>
				<td class = "c1"><span style="color:red;">V</span>&nbsp;E-MAIL</td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;E-MAIL</span>
					<input type = "text" name = "cus_email1" id = "cus_email1" placeholder = "이메일입력" class="input2"/>
					@
					<input type = "text" name = "cus_email2" id = "cus_email2" class="input2"/>
					<select name="selectEmail" id="selectEmail" class="input2">
						<option value="직접입력" selected>직접입력</option>
						<option value="naver.com">naver.com</option>
						<option value="daum.net">daum.net</option>
						<option value="google.com">google.com</option>
						<option value="nate.com">nate.com</option>
					</select>
					<div id="chk_email" style="color:red;"></div>
				</td>
			</tr>
			<tr>
				<td class = "c1"><span style="color:red;">V</span>&nbsp;PHONE</td>
				<td>
					<span class="hidden1"><span style="color:red;">V</span>&nbsp;PHONE</span>
					<select name="cus_phone1" id="cus_phone1" class="input2">
						<option value="010" selected>010</option>
						<option value="011">011</option>
						<option value="011">016</option>
						<option value="011">017</option>
						<option value="011">018</option>
						<option value="011">019</option>
					</select>
					&nbsp;-
					<input type = "text" name = "cus_phone2" id = "cus_phone2" maxlength="4" class="input2"/>&nbsp;-
					<input type = "text" name = "cus_phone3" id = "cus_phone3" maxlength="4" class="input2"/>
					<br/>예) 010-0000-0000
					<div id="chk_phone" style="color:red;"></div>
				</td>
			</tr>
			<tr align="center">
				<td colspan="2">
						<input type="button" id = "btnJoin"  class="btn-primary" value="  JOIN   " />
				</td>
			</tr>
		</table>
		</div>
	</form>		 
	
<div th:include="include/subFooter" ></div>
</body>

</html>