<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 예제</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	
	$("#btn_user").click(function(){
		
		var user_name = $("#user_name").val();
		var user_id = $("#user_id").val();
		var user_pw = $("#user_pw").val();
		
		if(user_name == ""){
			alert("이름을 적어주세요.");
			$("#user_name").focus();
			return;
		}
		if(user_id == ""){
			alert("아이디를 적어주세요.");
			$("#user_id").focus();
			return;
		}
		if(user_pw == ""){
			alert("비번을 적어주세요.");
			$("#user_pw").focus();
			return;
		}
			
		document.userAddForm.action = "/user/addUser";
		document.userAddForm.submit();

		
		alert("유저추가");
	});
	
});
</script>
</head>
<body> 
<form id = "userAddForm" name = "userAddForm" method = "post">
	<h2>유저 추가하기</h2> 
	<table border = "1" width="500px">
		<tr>
			<td>이름</td>
			<td><input type = "text" id = "user_name" name = "user_name" /></td>
		</tr>
		<tr>
			<td>id</td>
			<td><input type = "text" id = "user_id" name = "user_id" /></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type = "password" id = "user_pw" name = "user_pw" /></td>
		</tr>
	</table>
	<input type = "button" id = "btn_user" name = "btn_user" value = "클릭!" />
</form>
</body>

</html>