<!DOCTYPE html>
<html 	xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - PORTFOLIO</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    <link rel="stylesheet" href="../../static/css/upload.css">
    
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="../../static/js/file_common.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
<script>

	$(document).ready(function(){
		
		// var templatePhotoAttach = Handlebars.compile($("#templatePhotoAttach").html());
	    // var templateFileAttach = Handlebars.compile($("#templateFileAttach").html());
	     // 전체 페이지 파일 끌어 놓기 기본 이벤트 방지 : 지정된 영역외에 파일 드래그 드랍시 페이지 이동방지
	     $(".content-wrapper").on("dragenter dragover drop", function (event) {
	         event.preventDefault();
	     });
	     // 파일 끌어 놓기 기본 이벤트 방지
	     $(".fileDrop").on("dragenter dragover", function (event) {
	         event.preventDefault();
	     });
		
		// 파일 드랍 이벤트
	    // 파일 드랍 이벤트 : 파일 전송 처리
	    $(".fileDrop").on("drop", function (event) {
	        event.preventDefault();
	        var files = event.originalEvent.dataTransfer.files;
	        var file = files[0];
	        var formData = new FormData();
	        var html = "";
	        formData.append("file", file);
	     	console.log("len="+files.length);
	        /* for(var i=0; i<files.length; i++){
	        	
	        	console.log("0000--->"+i);
	        	formData[i].append("file", files[i]);
	        	
	        } */
	        
	        $.ajax({
	            url: "/project/util/uploadAjax",
	            data: formData,
	            dataType: "text", 
	            processData: false,
	            contentType: false,
	            type: "POST",
	            success: function (data) {
	               	console.log("data:"+data);
	                // 파일정보 가공
	                var fileInfo = getFileInfo(data);
	               	console.log("fileInfo-->"+fileInfo); //들어온거 같음
	               	console.log("fileInfo.fullname-->"+fileInfo.fullname); //들어온거 같음
	                
	                // 이미지 파일일 경우
	                if (fileInfo.fullname.substr(12, 2) == "s_") {
	                	//var json_fileInfo = JSON.parse(JSON.stringify(fileInfo)); //바로 JSON.parse(fileInfo)를 하면 에러발생 -> stringigy()를 먼저 하고 해야함.?
	                	//console.log("json--->"+json_fileInfo);
	                	
	                	//$.each(fileInfo, function(index, value){
		                    html += "<li>"
			                    + "<span class="+"\"mailbox-attachment-icon has-img\"><img src=\""+fileInfo.imgsrc+"\" alt=\"Attachment\" >"
			            		+	"</span>"
			                    + "<div class=\"mailbox-attachment-info\">"
			                    +    "<a href=\""+fileInfo.getLink+"\" class=\"mailbox-attachment-name\" data-lightbox=\"uploadImages\"><i class=\"fa fa-camera\"></i>"+fileInfo.filename+"</a>"
			                    +    "<a href=\""+fileInfo.fullname+"\" class=\"btn btn-default btn-xs pull-right delBtn\"><i class=\"fa fa-fw fa-remove\"></i></a>"
			                    + "</div>"
		                	+"</li>";
		                //});
	                // 이미지 파일이 아닐 경우
	                } else {
	                    html = "";
	                }
	                $(".uploadedList").append(html);
	            }
	        });
	    }); //파일 불러오기
	     
	    
	    // 글 저장 버튼 클릭 이벤트
	    // 글 저장 버튼 클릭 이벤트 : 파일명 DB 저장 처리
	    $("#saveBtn").click(function(){
	    	 
			//var isCheckTest =$("#isCheck").val();
			/* var isCheck = 0; */
			
			alert("저장 버튼 클릭!");
			
			$("#uploadFrm").attr("action","/project/util/fileInsert");
			$("#uploadFrm").submit(function (event) {
	 	        event.preventDefault();
	 	        var that = $(this);   //$(this)로 꼭 해야함 아니면 배열에 undefinded
	 	        var str = "";
	 	        $(".uploadedList .delBtn").each(function (index) {
	 	            //str += "<input type='hidden' name='files["+index+"]' value='"+$(this).attr("href")+"'>"
	 	        	str += "<input type=\"hidden\" name=\"files\" value=\""+$(this).attr("href")+"\">"
	 	        });
	 	        
	 	       that.append(str);
	 	       that.get(0).submit();
	   
	   	 	}); 
			
			
	    }); //파일 저장
	    
	    
	    //파일 삭제
	 	// 파일 삭제 버튼 클릭 이벤트 : 파일삭제, 파일명 DB 삭제 처리
	    $(document).on("click", ".delBtn", function (event) {
	        event.preventDefault();
	        var that = $(this);
	        //alert("that==="+that);
	        $.ajax({
	            url: "/project/util/fileDelete",
	            type: "post",
	            data: {filename:$(this).attr("href")},
	            dataType: "text",
	            success: function (result) {
	                if (result == "DELETED") {
	                    alert("삭제되었습니다.");
	                    that.parents("li").remove();
	                }
	            }
	        });
	    }); //파일삭제
	});
	
</script>

</head>

<body>

<div th:include="include/subHeader" ></div>
	<!-- 내용 추가 -->
	<form id="uploadFrm" name = "uploadFrm" method="post" enctype="multipart/form-data">
		<h3 style="text-align:center;margin-top:3%;">FILEUPLOAD</h3>
		
		<div style="overflow-x:auto;">
		<!-- <table id="table-re">
		<tr>
        	<td><input multiple="multiple" type="file" name="file1"/></td>
    	</tr>
    	<tr>
	    	<td>
		        <button type="submit" id = "btnSubmit" name="btnSubmit">Submit</button>
	    	</td>
    	</tr>		
		</table> -->
		<!-- 파일 첨부 -->
		
			<div class="form-group">
			<!-- 파일 선택 -->
			<input multiple="multiple" type="file" name="filechoice" id = "filechoice"/>


			<!--드래그 앤 그롭 -->
                <div class="fileDrop">
                    <br/>
                    <br/>
              
                    <p>첨부파일을 드래그해주세요.</p>
                    <br/>
                </div>
           	</div>
                 <div class="box-footer">
                   <div>
                       <hr>
                   </div>
                   <ul class="mailbox-attachments clearfix uploadedList"></ul><!-- 업로드 파일들 -->
               	 </div>

 				 <div>
                        <button id = "saveBtn" class="btn btn-success-1">저장</button>
                 </div>
        </div>
	</form>		 
	
<div th:include="include/subFooter" ></div>
</body>

</html>