<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - BOOK</title>

    <!-- Favicon -->
    <!--  <link rel="icon" href="../../static/images/core-img/favicon.ico"> -->

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link href="../../static/css/datepick/jquery.datepick.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/subHeader.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../../static/js/datepick/jquery.plugin.min.js"></script>
	<script src="../../static/js/datepick/jquery.datepick.js"></script>
	

    <style>
    #book_date, #work_time_cd{
    	width:50%;
    }
    
    #btnDesigner{
    	margin-left:50%;
    	width:20%;
    	color:white;
    }
    
    .isshow_option{
    	color: red;
    }
    </style>
    
<!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>   -->

<script th:inline="javascript">

/* $(function () {
	
	//$("#book_date").datepicker('setDate', today);
	
});  */

	$(document).ready(function(){
		
		var cus_name_ck_msg = "예약명을 입력해 주세요.";
		var book_date_ck_msg = "예약날짜를 선택해 주세요.";
		var service_name_ck_msg = "서비스을 선택해 주세요.";
		var emp_no_ck_msg = "디자이너를 선택해 주세요.";
		var emp_no_ck_msg2 = "디자이너를 선택하였습니다.";
		
		var book_result = "예약이 완료되었습니다.";
		
		var today = new Date(); // 오늘날짜가 만들어진다.
		console.log('오늘 날짜 => ' + today );
		today.setDate( today.getDate() + 1 ); // 3일을 더하기
		console.log('3일 후 날짜 => ' + today );

		$("#book_date").datepick();
		
		
		$("#btnBook").click(function(){ //에약버튼클릭
			var cus_name = $("#cus_name").val();
			var book_date = $("#book_date").val();
			var service_name = $("#service_name").val();
			var emp_no = $("#emp_no").val();
			var designerCk = $("#designerCk").val();
			
			console.log("cus_name->"+cus_name);
			console.log("designerCk->"+designerCk);			
			if(cus_name == ""){ //예약명 비었을시
				
				alert(cus_name_ck_msg);
				$("#cus_name").focus();
				return;
			}else if(book_date == ""){ //예약일 비었을시
				alert(book_date_ck_msg);
				$("#book_date").focus();
				return;
			}else if(service_name == ""){ //서비스명 비었을시
				alert(service_name_ck_msg);
				$("#service_name").focus();
				return;
			} 
			else if(designerCk != "ok"){ // 선택클릭 안햇을 경우
				alert(emp_no_ck_msg);
				return;
			}
			else{
				console.log("예약일-->"+book_date);
				var param = $("form[name=bookFrm]").serialize(); //폼객체 전체 전송
				
				$.ajax({
					type: "post",
					url: "/project/book/bookInsert",
					data: param,
					dataType: "text",
					success: function(result){
						if(result == "true"){
							alert(book_result);
							
							window.location.href = "/project/book/bookInfo";
						}
					}
				}); //bookInsert ajax
			}
			
		}); //예약버튼
		
		$("#btnDesigner").click(function(){
			
			$("#designerCk").val("ok"); //클릭시 ok로 선정
			alert(emp_no_ck_msg2);
			
			var emp_no1 = $("#emp_no option:selected").val();
			console.log("emp_no1-->"+emp_no1);
			
			$.ajax({ //디자이너에 대한 work_time_isshow불러오기
				type: "post",
				url: "/project/book/empWorkTime",
				data: {emp_no : emp_no1},
				dataType: "text",
				success: function(result){
					var formName = "bookFrm";
					var objId = "work_time_cd";
					fnResetSelectBox(formName,objId); //야메로 초기화설정
					
					console.log(result);
					
					work_time_list(result); //함수 호출
					//return; 이 안됨
				}
			
			}); 
			
		});//디자이너 선택
		
	});//끝
	
	
	/* <![CDATA[ */   
	
	function work_time_list(result){
		
		$.each(JSON.parse(result), function(index, value){
			console.log(value.work_time_cd);
			var html ="";
			//$('#book_date3').append(html); //일단 야메로 함수 들어오면 초기화 시킴
			if(value.work_time_isshow == "Y"){
				html = "<option value = \""+value.work_time_cd+"\">"+value.work_time+"</option>";
			}
			else{
				html = "<option value = \""+value.work_time_cd+"\" class = \"isshow_option\" disabled>"+value.work_time+"(예약불가)"+"</option>";
			}
			$('#work_time_cd').append(html);
		});
		
	}
	
	// select box 초기화 하는 함수.

	function fnResetSelectBox(formName,objId)
	{
	     $("form[name='"+formName+  "'] select[name='"+objId+"'] option").remove();  
	     $("form[name='"+formName+  "'] select[name='"+objId+"']").append("<option value=\"\">==선택하세요.==</option>");
	}
	/*]]>*/
</script>
</head>
<body>

<div th:include="include/subHeader" ></div>

	<!-- 내용 추가 -->
	<form id="bookFrm" name = "bookFrm" action="" method="post">
		<h3 style="text-align:center;margin-top:3%;">BOOK</h3>
		
		<div style="overflow-x:auto;"> 
		<table id="table-re">		
			<colgroup> 
				<col width="25%">
				<col width="75%">
			</colgroup>
			<tr>
				<td class = "c1"><span>예약명</span></td>
				<td>
					<input type = "text" name = "cus_name" id = "cus_name" placeholder = "예약명입력" class="input"/>
				</td>
			</tr>
			
			<tr>
				<td class = "c1">서비스</td>
				<td>
					<select name = "service_name" id="service_name" class="input2">
					<!-- 검색기능 - 검색조건을 검색처리후 결과 화면에 보여주기 위해서 c:out출력태그 사용 -->
						<option value = "CUT">CUT</option>
						<option value = "DESIGN_CUT">DESIGN CUT</option>
						<option value = "PERM">PERM</option>
						<option value = "DESIGN_PERM">DESIGN PERM</option>
						<option value = "COLOR">COLOR</option>
						<option value = "DESIGN_COLOR">DESIGN COLOR</option>
						<option value = "DRY">DRY</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class = "c1">디자이너</td>
				<td>
					<select name = "emp_no" id="emp_no" class="input2" >
						<option th:each="list : ${empList}" th:value="${list.emp_no}" 
								th:text="${list.emp_name}"></option>
					</select>
				
				<input type="hidden" id="designerCk"/>
				<input type = "button" name = "btnDesigner" id = "btnDesigner" value = "선택" />
				</td>
			</tr>
			
			<tr>
				<td class = "c1" rowspan = "2">예약날짜</td>
				<td>
					<input type="text" name="book_date" id = "book_date" class = "is-datepick"/>
				</td>
			</tr>
			<tr>
				<td>
					<select name = "work_time_cd" id="work_time_cd" class="input2">
						<option value="">===디자이너를 선택해주세요===</option>
					</select> 
				</td>
			</tr>
			
			<tr align="center">
				<td colspan="2">
						<input type="button" id = "btnBook"  class="btn-primary" value="  BOOK   " />
				</td>
			</tr>
		</table>
		</div>
	</form>		 
	
<div th:include="include/subFooter" ></div>
</body>

</html>