<!DOCTYPE html>
<html 	xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - SERVICE</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    <link rel="stylesheet" href="../../static/css/subHeader.css">
    
   <style>
	
   </style>
   
<script src="../../static/js/file_common.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>    
<script th:inline="javascript">
	$(document).ready(function(){
		
		
	});
	
	/* <![CDATA[ */   
	
	
	 /*]]>*/
</script>
</head>

<body>
<!-- th:onclick="'javascript:listFile('+ ${list.files} + ');'" -->
<div th:include="include/subHeader" ></div>
	<!-- 내용 추가 -->
	<form id="portfolioFrm" enctype="multipart/form-data">
		<h3 style="text-align:center;margin-top:3%;">PORTFOLIO</h3>
		
		<div style="overflow-x:auto;">
		<table id="table-re">
			<tr>
				<td>Coloring</td>
				<td>HairCut</td>
				<td>HairStyle</td>
				<td>Perm</td>
			</tr>
			
		</table>
		</div>
	</form>		 
	
<div th:include="include/subFooter" ></div>
</body>

</html>