<!DOCTYPE html>
<html 	xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - mypage</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>    
<script>
	var message = "[[${msg}]]";
	alert(message);
	window.location.href = "/project/member/loginForm";
</script>

</head>

<body>
   <div th:include="include/subHeader" ></div>

	<!-- 내용 추가 -->
	<form id="mypageFrm" action="" method="post">
		
	</form>		 

   <div th:include="include/subFooter" ></div>

</body>

</html>