<!DOCTYPE html>
<html 	xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - LOGIN</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/css/join.css">
    
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>    
<script>
	$(document).ready(function(){
		
		var cus_id = "";
		var cus_pw = "";
		
		$("#cus_id").focus();
		
		$("#btnLogin").click(function(){  //로그인 버튼 클릭시
			cus_id = $("#cus_id").val();
			cus_pw = $("#cus_pw").val();
			if(cus_id == ""){ //아이디 입력 x
				alert("아이디를 입력해주세요.");
				$("#cus_id").focus();
			}
			else if(cus_pw == ""){ //pw 입력x
				alert("비번을 입력해주세요.");
				$("#cus_pw").focus();
			}
			else{
				console.log(cus_id);
				console.log(cus_pw);
				
				$.ajax({
					type: "post",
					url: "/project/member/loginProc",
					data: {"cus_id": cus_id, "cus_pw": cus_pw},
					success: function(result){
						if(result == "true"){
							alert("로그인되었습니다.");
							
							$("#loginFrm").attr("action","/project/index");
							$("#loginFrm").submit();
						}
						else{
							alert("아이디 혹은 비밀번호가 일치하지않습니다. 다시 확인해주세요.");
							$("#cus_id").focus();
							return;
						}
					}
				});
			}
		}); //로그인 버튼
	});
</script>

</head>

<body>
   <div th:include="include/subHeader" ></div>

	<!-- 내용 추가 -->
	<form id="loginFrm" action="" method="post">
		<h3 style="text-align:center;margin-top:3%;">LOGIN</h3>
		<div style="overflow-x:auto;">
		<table id="table-re">		
			<colgroup>
				<col width="25%">
				<col width="75%">
			</colgroup>
			<tr>
				<td class = "c1">ID</td>
				<td>
					<input type = "text" name = "cus_id" id = "cus_id" placeholder = "아이디입력" class="input"/>
				</td>
			</tr>
			<tr>
				<td class = "c1">PASSWORD</td>
				<td>
				    <input type = "password" name = "cus_pw" id = "cus_pw" placeholder = "비밀번호입력" class="input"/>
				</td>
			</tr>
			
			<tr align="center">
				<td colspan = "2">
					<input type="button" id = "btnLogin"  class="btn-primary" value="  LOGIN  " />
				</td>
			</tr>
		</table>
		</div>
	</form>		 

   <div th:include="include/subFooter" ></div>

</body>

</html>