.fileDrop{
		border:2px dotted #3292A2;
		margin: 0 auto;
        width:70%;
        height:40%;
        color:burlywood;
        text-align:center;
        font-size:24px;
        padding-top:12px;
        margin-top:10px;

	}
#saveBtn{
	text-align:center;
	margin: 0 auto;
}
.uploadedList{
	text-align:center;
 	list-style:none;
}
.uploadedList>li{
	display:inline-block;
	margin:5px;
}
.delBtn{
	color:red;
	text-align:center;
	margin:5px;
	padding:0px 5px 5px 5px;
}
	