<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품배치 List</title>
	<style>
		table{
			margin-left:auto;
			margin-right:auto;
			font-size:13pt; 
			border : 1px solid black;
		}
		td{
			border: 1px solid black;
			border-collapse : separate;
		}
		#title_tr{
			background-color: gray;
			text-align:center;
		}
		#searchDiv{
			margin-top:20px;
			margin-bottom:10px;
			text-align:center;
		}
		#keyword{
			width:270px;
			height:20px;
			font-size:12pt;
		}
		#searchBtn, #searchOption{
			height:27px;
			font-size:12pt;
		}
		#no_list{
			text-align:center;
		}
		.keywordColor{
			color:red;
			background-color:yellow;			
		}
	</style>
 	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>  
	<script type="text/javascript">
	var html = "";
	var keyword = "[[${keyword}]]"; //검색 단어
 	var searchOption = "[[${searchOption}]]";//검색 옵션

	var sort_option_list = ["공통코드", "JobName", "일", "시", "분"];
	var sort_option_value_list = ["commonCd", "JobName", "day", "hour", "minute"];

	var sort_html = ""; 
	var title_cnt = 6; //thead 수
	var plus_count = 0; //플러스버튼 누른 횟수
	var option_count = 0; //+버튼 클릭시 해당 option의 id_count값
	var max_count = 0; //마지막 id값 count
	var minus_count = 0;
	var count = 0; //현재 id값_count
	
	var no_index = -1; //list에 포함되지 않을경우 index
	
	var sort_option = "";//정렬 선택옵션
	var sort_option2 = "";//추가하게 되는 option코드
	var save_sort_html = ""; //sort_html저장(삭제/추가시)
	var search_sort_list = []; //controller로 보내는 정렬옵션값
	var search_asc_list = []; //controller로 보내는 오름/내림차순 옵션값
	var sort_option_list_cnt = 5;
	var last_option = ""; //정렬 마지막 옵션
	var sort_asc_option = ""; //오름/내림차순 옵션
	
	var reAdd_value = ""; //마이너스 버튼 클릭시 현재 정렬값
	var reAdd_text = ""; //마이너스 버튼 클릭시 현재 정렬 text
	var reAdd_index = ""; //마이너스 버튼 클릭시 현재 정렬 index값
	var asc_value = ""; //마이너스 버튼 클릭시 현재 오름/내림 값
	
	//var last_value = "";//마지막 옵션 값
	var option_msg = "옵션을 선택해 주세요.";

	$(document).ready(function() {
		
		setInfoxml(); 
		
		$("#keyword").keydown(function(e){ 
			keyword = $("#keyword").val();
			searchOption = $("#searchOption").val();
			if(e.keyCode == 13){//enter키 클릭시
				e.preventDefault();
				$("#dataList").empty();//검색할때 전체 list비움
				setInfoxml(); 
			}
		});
		
		$("#searchBtn").click(function(){ //조회버튼 클릭
			keyword = $("#keyword").val();
			searchOption = $("#searchOption").val();
			
			var last_sort_text = $("#sortOption"+max_count+" option:selected").val();
			var last_asc_text = $("#ascSortOption"+max_count+" option:selected").val();
			
			var index = search_sort_list.indexOf(last_sort_text);
			//정렬 마지막 옵션이 있을경우 보내는 정렬 list에 추가
			if(last_sort_text != "" && index == no_index){
				searchListAdd(last_sort_text, last_asc_text);
			}
			if(last_sort_text == "" || last_asc_text == ""){ //정렬 옵션 or 오름/내림 옵션 비었을시
				alert(option_msg);
			}
			else{
				console.log("최종 search_sort_list---->"+search_sort_list);
				console.log("최종 search_asc_list---->"+search_asc_list);
				$("#dataList").empty();//검색할때 전체 list비움
				
				setInfoxml(); 
				
				sort_option = "";
				plus_count = 0;
				search_sort_list.length = 0; //정렬list 초기화
				search_asc_list.length = 0; //오름/내림list 초기화
				sort_option_list.length = 0; //optionlist 초기화
				sort_option_value_list.length = 0; //optionlist 초기화
				sort_option_list = ["공통코드", "JobName", "일", "시", "분"];
				sort_option_value_list =["commonCd", "JobName", "day", "hour", "minute"];
				console.log("sort_option_list---->"+sort_option_list);
				console.log("sort_option_value_list---->"+sort_option_value_list);
				$("#sort_tbody").empty(); //정렬조건 비우기
			}
		});
	});
 	
	function setInfoxml(){ //상품배치 데이터불러오기
		$.ajax({
			url : "/project/batchListXML",
			type : "POST",
			dataType : "json",
			data : {"keyword":keyword, "searchOption":searchOption, "search_sort_list":search_sort_list, "search_asc_list":search_asc_list},
			error : function(){
				alert("xml 파일 불러오기에서 error");
			}, 
			success : function(resultList){
				html = "";
				if(resultList.length == 0){//게시물 없을경우
					//console.log("게시글 없음");
					html += "<tr>"
							+"<td id = \"no_list\" colspan = \""+title_cnt+"\">해당하는 게시글이 없습니다.</td>"
							+"</tr>";
				}
				$.each(resultList, function(index, list){
					no = list.no;
					if(searchOption == "JobName"){ //검색옵션이 JobName일 경우
						list.jobName = (list.jobName).replace(keyword, "<span class=\"keywordColor\">"+keyword+"</span>");
					}
					else{ //검색 옵션이 공통코드일 경우
						list.commonCd = (list.commonCd).replace(keyword, "<span class=\"keywordColor\">"+keyword+"</span>");
					}
					//게시물 있을경우
					html += "<tr>"
							+"<td>"+list.commonCd+"</td>"
							+"<td><a href = \"/project/batchInfoDetailForm?no="+no+"\">"+list.jobName+"</td>"
							+"<td>"+list.day+"</td>"
							+"<td>"+list.hour+"</td>"
							+"<td>"+list.minute+"</td>"
							+"<td>"+list.tasklet+"</td>"
						+"</tr>";
				});
				
				$("#dataList").append(html);
			}
		});
	}	//setInfoxml
	
	function selectChange(value){ //정렬옵션 선택시
		sort_option = value;
	}
	
	function selectAscChange(value){ //오름/내림 선택시
		sort_asc_option = value;
	}

	function plusBtnClick(){ //플러스 버튼
		
		reAdd_value = $("#sortOption"+count+" option:selected").val(); //선택한 옵션값
		reAdd_text = $("#sortOption"+count+" option:selected").text(); //선택한 옵션 text
		asc_value = $("#ascSortOption"+count+" option:selected").val(); //선택한 오름/내림 값
		
		$("#sortOption"+count).attr("disabled",true); //정렬 selectbox 비활성화
		$("#ascSortOption"+count).attr("disabled",true); //오름/내림 selectbox 비활성화
		
		sort_html = "";
		sort_option2 = "";
		option_count = count;
		plus_count++; //버튼 횟수 +
		count++; 
		max_count = count;
		minus_count = 0; //마이너스 횟수 초기화
		
		sort_html +="<tr id = \"tr_"+count+"\">"
					+"<td>"
					+"<select class = \"sortOption\" id = \"sortOption"+count+"\" name = \"sortOption"+count+"\" onChange=\"selectChange(this.value);\">"
					+"<option value = \"\">==선택==</option>"
					+"</select>"
					+"<select id = \"ascSortOption"+count+"\" name = \"ascSortOption"+count+"\"  onChange=\"selectAscChange(this.value);\">"
					+"<option value = \"\">==선택==</option>"
					+"<option value = \"ascSort\">오름차순</option>"
					+"<option value = \"descSort\">내림차순</option>"
					+"</select>"
					+"</td>"
					+"<td><input type = \"button\" id=\"minusBtn"+count+"\" value=\"-\" onclick=\"minusBtnClick("+count+")\"/></td>"
					+"</tr>";
		
		if((plus_count > 1 && reAdd_value == "") || (plus_count > 1 && asc_value == "")){ //옵션이 2개 이상이며 옵션이 비어있을시
			alert(option_msg);
			$("#sortOption"+option_count).attr("disabled",false); //정렬 selectbox 활성화
			$("#ascSortOption"+option_count).attr("disabled",false); //오름/내림 selectbox 활성화
			plus_count--;
			count--;
			max_count = count;
			return;
		} 
		if(plus_count>1){ //현재 옵션이 2개 이상
			
			if(sort_option != ""){ //옵션값이 선택되었을시
				//전달되는 list에 추가
				searchListAdd(sort_option, sort_asc_option);
			
				//선택된 값 제외하고 나머지 option제거 -> 옵션 초기화
				$(".sortOption option:not(option:selected)").remove();
			
				var index = sort_option_value_list.indexOf(sort_option);
				if(index != no_index){
					optionListRemove(index, 1);
				}
			}
			$("#sort_table > tbody:last").append(sort_html);
			optionListLoop();
			
			sort_option = "";
			sort_asc_option = "";
		}
		else{ //처음일때
			$("#sort_table > tbody:last").append(sort_html);
			optionListLoop();
		}
		if(plus_count >= sort_option_list_cnt){ //plus_count가 옵션 list 수 이상이라면
			$("#plusBtn").hide(); //플러스버튼 사라짐.
		}
	} //plus버튼
	
	function minusBtnClick(count){ //마이너스 버튼
		plus_count--;
		sort_option = "";//선택되었던 option값 초기화
		
		reAdd_value = $("#sortOption"+count+" option:selected").val();//현재 정렬 옵션값 
		reAdd_text = $("#sortOption"+count+" option:selected").text();//현재 정렬 옵션 text
		asc_value = $("#ascSortOption"+count+" option:selected").val();//현재 오름/내림 값
		
		if(reAdd_value != "" && asc_value != "" && count != max_count){ //마이너스 버튼 클릭시 선택한 옵션 값이 있고 마지막 옵션이 아닐경우
			
			//현재 마지막 옵션값 
			var last_sort_text = $("#sortOption"+max_count+" option:selected").val();
			var last_asc_text = $("#ascSortOption"+max_count+" option:selected").val();
			
			if(last_sort_text == "" || last_asc_text == ""){ //마지막 옵션값들이 비어있을경우
				alert(option_msg);
				return;
			}
			//마이너스 버튼 처음 클릭 시 마지막 옵션 값 있을경우
			else if(minus_count == 0 && last_sort_text != "" && last_asc_text != ""){ 
				minus_count++;
				searchListAdd(last_sort_text, last_asc_text);
				
				//옵션 list에서 해당 값 제거
				var index = sort_option_value_list.indexOf(last_sort_text);
				optionListRemove(index, 1);
				
				$("#sortOption"+max_count).attr("disabled",true); //정렬 selectbox 비활성화
				$("#ascSortOption"+max_count).attr("disabled",true); //오름/내림 selectbox 비활성화
			}
			
			//옵션 list에 추가
			optionListAdd(reAdd_value, reAdd_text);
			
			//전달되는 list에서 해당 값 제거
			var index = search_sort_list.indexOf(reAdd_value);
			if(index != no_index){
				searchListRemove(index, 1);
			}
			
			//선택된 값 제외하고 나머지 option제거
			$(".sortOption option:not(option:selected)").remove();
			
			for(var i = 0; i<sort_option_list.length; i++){
				sort_option2 = "<option value = \""+sort_option_value_list[i]+"\">"+sort_option_list[i]+"</option>";
				$(".sortOption").append(sort_option2);
			}
		}  
		else if(reAdd_value != "" && asc_value != ""){ //선택한 옵션 값 있으면서 count가 마지막 값이라면
			console.log("선택값 있지만 마지막 값");
			max_count--;
		
			var index = sort_option_value_list.indexOf(reAdd_value);
			if(index  == no_index){
				//옵션 list에 추가
				optionListAdd(reAdd_value, reAdd_text);
			}
			//전달되는 list에서 해당 값 제거
			var index = search_sort_list.indexOf(reAdd_value);
			searchListRemove(index, 1);
			
			//선택된 값 제외하고 나머지 option제거
			$(".sortOption option:not(option:selected)").remove();
			
			optionListLoop();
		}
		
		$("#tr_"+count).remove(); //행삭제
		reAdd_value = "";
		
		$("#plusBtn").show();//+버튼 표출
	}
	
	//옵션 list 출력
	function optionListLoop(){
		for(var i = 0; i<sort_option_list.length; i++){
			sort_option2 = "<option value = \""+sort_option_value_list[i]+"\">"+sort_option_list[i]+"</option>";
			$(".sortOption").append(sort_option2);
		}
	}
	//옵션 list에 추가
	function optionListAdd(value, text){
		sort_option_value_list.push(value);
		sort_option_list.push(text);
	}
	
	//옵션 list에서 제거
	function optionListRemove(index1, one){
		sort_option_value_list.splice(index1, one); //옵션 value_list에서 해당값 제거
		sort_option_list.splice(index1, one); //옵션 list에서 해당값 제거
	}
	
	//전달되는 list에 추가
	function searchListAdd(sort_option, asc_option){
		search_sort_list.push(sort_option);
		search_asc_list.push(asc_option);
	}
	
	//전달되는 list에서 제거
	function searchListRemove(index1, one){
		search_sort_list.splice(index1, one);
		search_asc_list.splice(index1, one);
	}
	</script>
</head>
<body>
<form id = "batchInfoListFrm" name = "batchInfoListFrm">
<div id = "searchDiv">
		<!-- 검색 -->
		<select id = "searchOption" name = "searchOption">
			<option value = "JobName">JobName</option>
			<option value = "commonCd">공통코드</option>
		</select>
		
		<input type = "text" id = "keyword" name = "keyword" value ="" />
		<input type = "button" id = "searchBtn" name = "searchBtn" value = "조회" />
		
		<input type = "button" id = "plusBtn" name = "plusBtn" value = "+"  onclick="plusBtnClick()" /> <!-- 추가 -->
		<table id = "sort_table">
		<tbody id = "sort_tbody"></tbody>
		
		</table>
</div>
<table>
	<colgroup>
		<col width="10%">
		<col width="40%">
		<col width="5%">
		<col width="5%">
		<col width="5%">
		<col width="35%">
	</colgroup>
	<thead>
		<tr id = "title_tr">
			<td>공통코드</td>
			<td>JobName</td>
			<td>일</td>
			<td>시</td>
			<td>분</td>
			<td>Tasklet</td>
		</tr>
	</thead>
	<tbody id = "dataList">
	</tbody>
</table> 
</form>
</body>
</html>